# Pandas

### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [28]:
import pandas as pd

In [2]:
#string
country = ['India','Pakistan','USA','Nepal','Srilanka']
pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [3]:
runs = [13,24,56,78,100]
pd.Series(runs)

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [7]:
marks = [50,67,99,87]
subjects = ['math','physics','cs','english']
pd.Series(marks,index=subjects)

math       50
physics    67
cs         99
english    87
dtype: int64

In [11]:
mark=pd.Series(marks,index=subjects,name='fff')

In [12]:
mark

math       50
physics    67
cs         99
english    87
Name: fff, dtype: int64

In [18]:
mark = {
    'maths':67,
    'english':78,
    'hindi':100
}
mark_series=pd.Series(mark,name='fahim')
mark_series

maths       67
english     78
hindi      100
Name: fahim, dtype: int64

## Series Attributes

In [19]:
# size
mark_series.size

3

In [20]:
# name
mark_series.name

'fahim'

In [21]:
mark_series.is_unique

True

In [22]:
mark_series.index

Index(['maths', 'english', 'hindi'], dtype='object')

In [23]:
mark_series.values

array([ 67,  78, 100])

## Series using read_csv

In [34]:
pd.read_csv('../datasets/subs.csv')

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [41]:
# with one col
# pd.read_csv('../datasets/subs.csv',squeeze=True)
s = pd.read_csv('../datasets/subs.csv').iloc[:, 0]
s

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [48]:
# with two col 
vk=pd.read_csv("../datasets/kohli_ipl.csv",index_col='match_no')
vk

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [55]:
bw = pd.read_csv('../datasets/bollywood.csv',index_col='movie')
bw

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

### Series Method

In [58]:
# head and tail
s.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [59]:
s.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64