### cafe datasets
`https://www.kaggle.com/datasets/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Cafe_Sales.csv')
df.sample(5)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
778,TXN_4498370,Smoothie,4,4.0,16.0,ERROR,NaN,2023-07-24
5887,TXN_2561071,Juice,5,3.0,15.0,NaN,In-store,2023-01-30
611,TXN_2265984,Cookie,5,1.0,5.0,Credit Card,Takeaway,2023-10-18
9272,TXN_9883214,Juice,3,3.0,9.0,NaN,NaN,2023-04-04
1365,TXN_3224921,Sandwich,5,4.0,20.0,NaN,In-store,2023-04-06

In [3]:
df.shape

(10000, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [5]:
df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [6]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [7]:
df.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [8]:
len(df)

10000

In [9]:
print(pd.__version__)

2.3.3

In [10]:
# df['Transaction ID'].idxmin()
# df.loc[df['Transaction ID'].idxmin()]

In [11]:
df.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31

In [12]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_',regex=False)

In [13]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

In [14]:
df.drop_duplicates()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [15]:
df['item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [16]:
df.groupby('item')['price_per_unit'].unique()
# df[['Item','Price Per Unit']].sample(11)

item
Cake                               [3.0, nan, UNKNOWN, ERROR]
Coffee                             [2.0, nan, ERROR, UNKNOWN]
Cookie                             [1.0, UNKNOWN, nan, ERROR]
ERROR       [1.5, 3.0, 5.0, nan, 4.0, 2.0, 1.0, UNKNOWN, E...
Juice                              [3.0, nan, UNKNOWN, ERROR]
Salad                              [5.0, ERROR, UNKNOWN, nan]
Sandwich                           [4.0, nan, ERROR, UNKNOWN]
Smoothie                           [4.0, nan, UNKNOWN, ERROR]
Tea                                [1.5, nan, ERROR, UNKNOWN]
UNKNOWN     [3.0, 1.0, 5.0, 4.0, 1.5, 2.0, nan, UNKNOWN, E...
Name: price_per_unit, dtype: object

In [17]:
[df['price_per_unit']==3.0,['item']]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 9995    False
 9996    False
 9997    False
 9998    False
 9999    False
 Name: price_per_unit, Length: 10000, dtype: bool,
 ['item']]

In [18]:
df['item']=='cake'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: item, Length: 10000, dtype: bool

In [19]:
df.iloc[9996]

transaction_id         TXN_9659401
item                           NaN
quantity                         3
price_per_unit                 NaN
total_spent                    3.0
payment_method      Digital Wallet
location                       NaN
transaction_date        2023-06-02
Name: 9996, dtype: object

In [20]:
# df['total_spent']=df['total_spent'].replace(['UNKNOWN','ERROR'],0).fillna(0).astype('float16')

In [21]:
# df['transaction_date'] = df['transaction_date'].replace(['UNKNOWN','ERROR'],np.nan).astype('datetime64[ns]')

In [38]:
invalid_values = ['UNKNOWN' ,'ERROR','None', '-']
col_clean = ['item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date']
#replacing to invalid values
for col in col_clean:
    df[col].replace(invalid_values,np.nan,inplace=True)
#changing to  datatype
for col in ['quantity', 'price_per_unit', 'total_spent']:
    df[col] = pd.to_numeric(df[col],errors='coerce')
# changing to datatype
df['transaction_date'] = pd.to_datetime(df['transaction_date'],errors='coerce')

In [ ]:
# fill 
col_fill = ['item','payment_method', 'location', 'transaction_date']
for col in col_fill:
    df[col] = df[col].

np.float64(2.0)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9031 non-null   object
 2   quantity          9521 non-null   float64
 3   price_per_unit    9467 non-null   float64
 4   total_spent       9498 non-null   float64
 5   payment_method    6822 non-null   object
 6   location          6039 non-null   object
 7   transaction_date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [23]:
df[df['transaction_id'] == 'TXN_9659401']

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    10000 non-null  object
 1   item              9667 non-null   object
 2   quantity          9862 non-null   object
 3   price_per_unit    9821 non-null   object
 4   total_spent       9827 non-null   object
 5   payment_method    7421 non-null   object
 6   location          6735 non-null   object
 7   transaction_date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [25]:
df.dtypes

transaction_id      object
item                object
quantity            object
price_per_unit      object
total_spent         object
payment_method      object
location            object
transaction_date    object
dtype: object

In [26]:
import pandas as pd
import numpy as np

# Example: manually create the dataset (since we don't have CSV)
cafe = pd.DataFrame({
    "Transaction ID": [1, 2, 3],
    "Item": ["Coffee", "Tea", "Sandwich"],
    "Quantity": ["2", "1", "3"],           # strings
    "Price Per Unit": ["3.5", "2.0", "5.0"], # strings
    "Total Spent": ["7.0", "2.0", None],   # strings + missing
    "Payment Method": ["Cash", "Card", None],
    "Location": ["Downtown", None, "Uptown"],
    "Transaction Date": ["2025-12-18", "2025-12-18", "2025-12-18"]
})

# Convert numeric columns to proper numbers
cafe['Quantity'] = pd.to_numeric(cafe['Quantity'], errors='coerce')
cafe['Price Per Unit'] = pd.to_numeric(cafe['Price Per Unit'], errors='coerce')
cafe['Total Spent'] = pd.to_numeric(cafe['Total Spent'], errors='coerce')

# Replace string 'UNKNOWN' with np.nan for consistency
cafe['Location'] = cafe['Location'].replace('UNKNOWN', np.nan)

# Fill missing 'Total Spent'
mask_total_missing = cafe['Total Spent'].isna() & cafe['Quantity'].notna() & cafe['Price Per Unit'].notna()
cafe.loc[mask_total_missing, 'Total Spent'] = cafe.loc[mask_total_missing, 'Quantity'] * cafe.loc[mask_total_missing, 'Price Per Unit']

# Fill missing 'Price Per Unit'
mask_price_missing = cafe['Price Per Unit'].isna() & cafe['Total Spent'].notna() & cafe['Quantity'].notna() & (cafe['Quantity'] != 0)
cafe.loc[mask_price_missing, 'Price Per Unit'] = cafe.loc[mask_price_missing, 'Total Spent'] / cafe.loc[mask_price_missing, 'Quantity']

# Fill missing Payment Method and Location
cafe['Payment Method'] = cafe['Payment Method'].fillna('Unknown')
cafe['Location'] = cafe['Location'].fillna('Unknown')

# Fix Total Spent if inconsistent
calculated_total = cafe['Quantity'] * cafe['Price Per Unit']
mask_incorrect_total = ~np.isclose(cafe['Total Spent'], calculated_total, equal_nan=True)
cafe.loc[mask_incorrect_total, 'Total Spent'] = calculated_total[mask_incorrect_total]

print(cafe)

   Transaction ID      Item  Quantity  Price Per Unit  Total Spent  \
0               1    Coffee         2             3.5          7.0
1               2       Tea         1             2.0          2.0
2               3  Sandwich         3             5.0         15.0

  Payment Method  Location Transaction Date
0           Cash  Downtown       2025-12-18
1           Card   Unknown       2025-12-18
2        Unknown    Uptown       2025-12-18

In [27]:
# # Convert categorical columns
# cat_cols = [
#     'Quantity', 'Price Per Unit', 'Total Spent',
# ]

# for col in cat_cols:
#     df[col] = df[col].astype("float",errors='coerce')

# df.info()



# df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce').astype('Int16')
# df.dtypes

In [28]:
df = df.dropna(how='all')

In [29]:
df.shape

(10000, 8)

In [30]:
df['transaction_date']

0       2023-09-08
1       2023-05-16
2       2023-07-19
3       2023-04-27
4       2023-06-11
           ...
9995    2023-08-30
9996    2023-06-02
9997    2023-03-02
9998    2023-12-02
9999    2023-11-07
Name: transaction_date, Length: 10000, dtype: object

In [31]:
df.head(25)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,ERROR,4.0,20.0,Cash,In-store,2023-04-04
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
22,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
23,TXN_2616390,Sandwich,2,4.0,8.0,NaN,NaN,2023-09-18
24,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03

In [ ]:
item_prices = df[['item', 'price_per_unit']].drop_duplicates()#.dropna()
print(item_prices)

        item  price_per_unit
0     Coffee             2.0
1       Cake             3.0
2     Cookie             1.0
3      Salad             5.0
5   Smoothie             4.0
7   Sandwich             4.0
17     Juice             3.0
42       Tea             1.5

In [53]:
df.shape

(10000, 8)